@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/*400 and 700*/
:root {
  /*Primary*/
  --cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  /*Secondary*/
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
  box-sizing: border-box;
}

body {
  background: var(--Light-Gray);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Karla, "sans-serif";
}
.container {
  width: 375px;
  align-items: center;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-top: 6rem;
}
.descrip {
  display: block;
  padding: 2rem;
  background: white;
}
h1 {
  color: var(--cyan);
}
p.date {
  font-size: 18px;
  color: var(--Bright-Yellow);
}
p.info {
  color: var(--Grayish-Blue);
  line-height: 30px;
}
.monto {
  background: var(--cyan);
  padding: 2rem;
  color: white;
}
.monto p.title {
  font-size: 1.2rem;
}
.monto div{
  display: flex;
  align-items: center;
}
.monto .cash{
    font-size: 2rem;
    font-weight: 700;
    padding-right: 1rem;
}
.monto .month{
    font-size: 20px;
    color: var(--Grayish-Blue);
}
.monto button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  background: var(--Bright-Yellow);
  font-weight: 700;
  color: var(--Light-Gray);
  padding: 1.5rem;
  font-size: 1.2rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px lightgray;
}
.tuto {
  padding: 2rem;
  color: white;
  background: rgb(88, 188, 196);
}
.tuto span{
    font-weight: 700;
    font-size: 20px;
    padding: 2rem 1rem 2rem 0;
}
.tuto p{
    line-height: 26px;
    color: rgba(241, 241, 241, 0.74);
    padding-right: 6rem;
}
/*Mobile: 375px*/
/*Desktop: 1440px*/
@media screen and (min-width: 1440px) {
  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 800px;
    align-items: stretch;
    box-shadow: 0 0 20px 2px lightgray;
  }
  .descrip{
    grid-column: span 2;
  }

}
